<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MechDog TechBlog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <header class="blog-header p-3">
      <div class="row flex-wrap justify-content-between align-items-center">
        <div class="col-xs-12 col-md-4 pt-1 ">
          <div class="row">
          <a class="col-6 text-muted navLinks" href="/">Home</a>
          <a class="col-6 text-muted navLinks" href="/dashboard">Dashboard</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <a class="blog-header-logo text-dark" href="#">MechDog</a>
        </div>
        <div class="col-xs-12 col-md-4 pt-1 d-flex justify-content-end align-items-center ">
          {{#if loggedIn}}
          <a class="text-muted navLinks" href="#" id="logout">Logout</a>
          {{else}}
          <a class="text-muted navLinks" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <div class="row">
      {{{body}}}
    </div>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>