<div class="col-12">
  <div class="row">
    <div class="col-12 subhead">Mech<span style="color:white">Dog</span> Tech<span class="white">Blogs</span></div>
    {{#each userData.blogs as |blog|}}
    <div class="col-12 blog comments">
      <div class="row">
        <div class="col-6 "><a href="/api/blogs/{{blog.id}}">{{blog.title}}</a></div>
        <div class="col-6 text-right">{{format_date blog.createdAt}}</div>
      </div>
    </div>
    {{/each}}
    <button class="col-xs-4  btn newBlogBtn" id="newBlog" type="button">New Blog</button>
  </div>
</div>
<script src="/js/dashboard.js"></script>