<form class="col-12 update-form comments" id="{{blogs.id}}">
  <div class="form-group col-12">
    <label for="title-post" id="titleMess">Title:</label>
    <textarea class="form-input col-12" type="text" id="">{{blogs.title}}</textarea>
  </div>
  <div class="form-group col-12">
    <label for="message-post" id="mess">Message:</label>
    <textarea class="form-input col-12" type="text" id="message-post">{{blogs.message}}</textarea>
  </div>
  <button class="btn btn-lg" type="submit" form="{{blogs.id}}">Update</button>
  <button class="btn btn-lg" id="delete" type="click">Delete</button>
</form>

<script src="/js/edit.js"></script>