<div class="col-12">
  <div class="row">
    <div class="col-12">MechDog TechBlogs</div>
    {{#each blogs as |blog|}}
    <div class="col-12">{{blog.title}}</div>
    <div class="col-12">{{blog.message}}</div>
    <div class="col-12">{{User.[blog.user_id].username}}</div>
    {{/each}}
  </div>
</div>